.container{
    display: flex;    
    height: 25px;
    width: 85px;
    background-color: #fff;
    margin-top: 5px;
    margin-left: 12px;
}

.circle{
    margin-left: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}